@(title:String)(implicit context: WowcherContext)
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@{context.frontendResourcePath}/css/styles.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="canonical" href="http://www.wowcher.co.uk@context.request.uri"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="From £49 instead of up to £99 for a rally driving experience for both adult and junior drivers at Silverstone Autosport &amp; Rally School - save up to 51%">
    <meta property="og:description" content="Silverstone: the home of British motor racing, Nigel Mansell’s moustache comb and today’s exhilarating Wowcher deal…">
    <meta property="og:image" content="https://d3n6khm77u8ndq.cloudfront.net/deal/200337/60693.jpg">
    <meta property="og:url" content="http://www.wowcher.co.uk@context.request.uri">

    <meta property="og:site_name" content="Wowcher">

    <meta property="fb:app_id" content="396501950453618"/>
    <meta property="fb:admins" content="100004538851443"/>



    <script>var WOW={arr:[],reg:function(e){WOW.arr.push(e)},currentLocation:"@context.location",path:"@{context.frontendResourcePath}"}</script>
</head>