@()(implicit context: WowcherContext)

<nav id="menu">
    <ul class="mobile-menu">
        <li class="active"><a href="#">Local</a></li><li><a href="#">Shopping</a></li><li><a href="#">Travel</a></li>
    </ul>

    <ul class="main-menu">
        <li class="active">
            <a href="#">Local</a>
        </li><li>
            <a href="/deals/@context.location/activities">Activities</a>
        </li><li>
            <a href="#">Shopping</a>
        </li><li>
            <a href="/deals/@context.location/travel">Travel</a>
        </li><li>
            <a href="/deals/@context.location/homeandgarden">Home &amp; Garden</a>
        </li><li>
            <a href="/deals/@context.location/fashion">Fashion</a>
        </li><li>
            <a href="/deals/@context.location/beauty">Beauty</a>
        </li><li>
            <a href="/deals/@context.location/electronics">Electronics</a>
        </li><li>
            <a href="/deals/@context.location/healthcare">Health &amp; Fitness</a>
        </li><li>
            <a href="/deals/@context.location/learning">Courses</a>
        </li><li>
            <a href="#">Cashback</a>
        </li>
    </ul>
</nav>