@import generic.Utils

@(  deal: Deal,
    showDetail: Boolean

)(implicit context: WowcherContext)

@priceSize(size:Int) = @{
    Utils.priceSize(size)
}


<div class="deal">
    <a href="/deals/@context.location/@deal.id">
        <h2>
            @if(deal.product.nonEmpty){
                @deal.product
            } else {
                @deal.businessName
            }
        </h2>
        @if(showDetail){
            <p>@deal.title</p>
        }
        <div class="rel">
            @if(!deal.imageLinks.previewImageThumbUrl.isEmpty){
                <img src="@deal.imageLinks.promoImageUrl" alt="@deal.title" class="main-image"/>
            }
            <div class="wow">
                <div class="price @priceSize(deal.prices.displayPrice.toInt.toString.length)">
                    <div class="now">Now</div>
                    <div class="actual"><span class="pound">&pound;</span>@deal.prices.displayPrice.toInt</div>
                    <div class="container">
                        <div class="org-price">&pound;@deal.prices.displayOriginalPrice.toInt</div>
                    </div>
                </div>
            </div>

            <div class="footer-bar">
                <div class="bought">
                    Bought
                    <div class="amount">
                        @deal.purchaseCount
                    </div>
                </div>
                <div class="save">
                    Save
                    <div class="amount">
                        @deal.prices.displayVoucherDiscountValue.toInt&#37;
                    </div>
                </div>
                <button>View!</button>
            </div>
        </div>
    </a>
</div>