@import generic.Utils

@(deal: Deal)(implicit context: WowcherContext)

@priceSize(size:Int) = @{
    Utils.priceSize(size)
}

<div class="main-deal deal">
    <a href="https://secure.wowcher.co.uk/checkout/@deal.id">
        <h2>
            @if(deal.product.nonEmpty){
                @deal.product
            } else {
                @deal.businessName
            }
        </h2>
        <p>@deal.title</p>
        <div class="rel">
            <div class="points">
                Collect 13,900 Club Wowcher points when you buy this deal
            </div>

            @if(!deal.imageLinks.previewImageThumbUrl.isEmpty){
                <img src="@deal.imageLinks.promoImageUrl" alt="@deal.title" class="main-image" />
            }
            <div class="wow">
                <div class="price @priceSize(deal.prices.displayPrice.toInt.toString.length)">
                    <div class="now">Now</div>
                    <div class="actual"><span class="pound">&pound;</span>@deal.prices.displayPrice.toInt</div>
                    <div class="container">
                        <div class="org-price">&pound;@deal.prices.displayOriginalPrice.toInt</div>
                    </div>
                </div>
            </div>

            <div class="footer-bar">
                <div class="bought">
                    Bought
                    <div class="amount">
                        @deal.purchaseCount
                    </div>
                </div>
                <div class="save">
                    Save
                    <div class="amount">
                        @deal.prices.displayVoucherDiscountValue&#37;
                    </div>
                </div>
                <button>Buy!</button>
            </div>
        </div>
    </a>

    <div class="gradient-bg @if(deal.highlights.nonEmpty && deal.finePrint.nonEmpty){c-5050}">
        @if(deal.highlights.nonEmpty){
            <div class="list-cnt">
                <h2>Highlights</h2>
                <ul>
                    @deal.highlights.map { h =>
                        <li>@Html(h)</li>
                    }
                </ul>
            </div>}@if(deal.finePrint.nonEmpty){<div class="list-cnt">
                <h2>The fine print</h2>
                <ul>
                    @deal.finePrint.get.split("\n").map { s =>
                        <li>@s</li>
                    }
                </ul>
            </div>
        }
    </div>

    <hr/>

    @if(deal.description.nonEmpty){
        <div class="details" id="js-details">
            <h3>Full Details</h3>
            @Html(deal.description)
        </div>
        <a href="#" id="js-expand" class="more-btn">More</a>

        <hr/>
    }
    @**************
    <div class="location">
        <h3>Location</h3>
        <a rel="nofollow" target="_blank" href="https://redemption.wowcher.co.uk/real-home-furniture-jul-196020">Click here to see the full list of redeemable locations</a>
    </div>

    <hr/>
*************@


    @if(deal.addresses.nonEmpty){
        <div class="js-google-map">
            <div class="map"></div>
            <ul class="map-list js-map-list">
                @for((address, index) <- deal.addresses.zipWithIndex) {<li data-pin-title="@address.businessName" data-latitude="@address.latitude" data-longitude="@address.longitude">
                   <p>
                       @address.addressLine1<br/>
                       @if(address.addressLine2.nonEmpty){
                            @address.addressLine2<br/>
                       }
                       @address.town<br/>
                       @address.postcode
                   </p>
               </li>}
            </ul>
            <hr/>
            <script>WOW.reg("google-maps");</script>
        </div>
    }
@**************
    <div class="gradient-bg">
        <div class="how-to">
            <h3>How to Redeem</h3>
            <ul>
                <li>Some words in here</li>
                <li>Some words in here</li>
                <li>Some words in here</li>
                <li>Some words in here</li>
            </ul>
            <p>
                The deal can also entitle you to a Wowcher Wallet Credit. <a href="/Wallet-credit-more-info.html" target="_blank">Click here</a> for more info.
            </p>
        </div>
    </div>
    **************@
    <div class="footer">
        <div class="share">
           <span>Share:</span> <i class="fb"></i> <i class="twitter"></i> <i class="pinterest"></i> <i class="email"></i>
        </div><button>Buy</button>
    </div>
    <script>WOW.reg('main-deal');</script>
</div>