@(dealsListing: model.DealsListing)
@wowcherContext = @{ ctx().args.get("wowcherContext").asInstanceOf[util.WowcherContext]}


@main("Location Deals Page") {

        @nestedPage.render()

        <h1>Here are all the deals for: @wowcherContext.location</h1>
        <section class="content">
            <br>
            @for(deal <- dealsListing.deals) {
                <h1>@{deal.product}</h1>
                <h2>@{deal.title}</h2>
                <p>@Html(deal.description)</p>
                <br/>
            }
        </section>
}